<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="Bilal"
			connectionString="Server=BILAL-KINALI;Database=LawHouseTest;Trusted_Connection=True;Encrypt=false;"/>
		<add
			name="Lucas"
			connectionString="Server=DESKTOP-ANPNVL3;DataBase=LawHouse;Trusted_Connection=true;Encrypt=False;"/>
		<add
			name="Simply"
			connectionString="Server=mssql16.unoeuro.com;Database=lawhouseblr_dk_db_lawhouse;User Id=lawhouseblr_dk;Password=km5xFBGRe2pErnDcg6h3;Encrypt=False;"/>
		
	</connectionStrings>
	<appSettings>
		<add key="GoogleApiKey" value="AIzaSyDeUkeA7a7NReydK45u0sy8qnon_YjiLQQ"/>
	</appSettings>
</configuration>